/* Layout */
.container{
/*     padding-left: 20px;
    padding-right: 20px; */
    max-width: 1196px;
}


.container_footer {
    max-width: 1238px;
    padding: 0;
}
p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    font-style: italic;
}

h2 {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    margin: 5px 0;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
    -webkit-transition: color .3s ease-in, border-color .3s ease-in, ckground-color .3s ease-in, opacity .3s ease-in;
    -moz-transition: color .3s ease-in, border-color .3s ease-in, ckground-color .3s ease-in, opacity .3s ease-in;
    transition: color .3s ease-in, border-color .3s ease-in, ckground-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.button{
    display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

    -webkit-transition: color .3s ease-in, border-color .3s ease-in, ckground-color .3s ease-in, opacity .3s ease-in;
    -moz-transition: color .3s ease-in, border-color .3s ease-in, ckground-color .3s ease-in, opacity .3s ease-in;
    transition: color .3s ease-in, border-color .3s ease-in, ckground-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.inner  {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.container,.container-center {
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}
body, html {
    min-height: 100%;
}

/* Text align */

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}


/* Floats */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}


/* Vertical align */

.vertical-align:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

[class*="-vertical-align-"] {
    display: inline-block;
}

.vertical-align-top {
    vertical-align: top;
}

.vertical-align-middle {
    vertical-align: middle;
}

.vertical-align-bottom {
    vertical-align: bottom;
}


/* Absolute centering */

.relative {
    position: relative;
}

.absolute-center {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


/* Circle element */

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


/*== Grid ==*/

/* Grid clearfix */

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row + .row {
    margin-top: 20px;
}

[class*="width-"] {
    width: 100%;
}

.row > [class*="width-"] {
    float: left;
    padding-left: 20px;
}

.row {
    margin-left: -20px;
}


/* No Padding Grid */

.row-nopad {
    margin-left: 0;
}
.row-nopad + .row-nopad {
    margin-top: 0;
}
.row-nopad > [class*="width-"] {
    padding-left: 0;
}

.width-1-2, .width-2-4, .width-3-6 {
    width: 50%;
}

.width-1-3, .width-2-6 {
    width: 33.333%;
}

.width-2-3, .width-4-6 {
    width: 66.667%;
}

.width-1-4 {
    width: 25%;
}

.width-3-4 {
    width: 75%;
}

.width-1-5 {
    width: 20%;
}

.width-2-5 {
    width: 40%;
}

.width-3-5 {
    width: 60%;
}

.width-4-5 {
    width: 80%;
}

.width-1-6 {
    width: 16.667%;
}

.width-5-6 {
    width: 83.333%;
}

.width-1-7 {
    width: 14.2857%;
}

.width-1-8 {
    width: 12.5%;
}

.width-1-9 {
    width: 11.1111%;
}

.width-1-10 {
    width: 10%;
}
.width-26 {
    width: 26%;
}
.width-29 {
    width: 29%;
}
.width-45 {
    width: 45%;
}


/* Phone landscape and bigger */

@media (min-width: 480px) {
    .float-left-small {
        float: left;
    }

    .float-right-small {
        float: right;
    }
    /* Whole */
    .width-small-1-1 {
        width: 100%;
    }
    /* Halves */
    .width-small-1-2, .width-small-2-4, .width-small-3-6 {
        width: 50%;
    }
    /* Thirds */
    .width-small-1-3, .width-small-2-6 {
        width: 33.333%;
    }
    .width-small-2-3, .width-small-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .width-small-1-4 {
        width: 25%;
    }
    .width-small-3-4 {
        width: 75%;
    }
    /* Fifths */
    .width-small-1-5 {
        width: 20%;
    }
    .width-small-2-5 {
        width: 40%;
    }
    .width-small-3-5 {
        width: 60%;
    }
    .width-small-4-5 {
        width: 80%;
    }
}


/* Tablet and bigger */

@media (min-width: 768px) {
    .float-left-medium {
        float: left;
    }
    .float-right-medium {
        float: right;
    }

    /* Whole */
    .width-medium-1-1 {
        width: 100%;
    }
    /* Halves */
    .width-medium-1-2, .width-medium-2-4, .width-medium-3-6 {
        width: 50%;
    }
    /* Thirds */
    .width-medium-1-3, .width-medium-2-6 {
        width: 33.333%;
    }
    .width-medium-2-3, .width-medium-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .width-medium-1-4 {
        width: 25%;
    }
    .width-medium-3-4 {
        width: 75%;
    }
    /* Fifths */
    .width-medium-1-5 {
        width: 20%;
    }
    .width-medium-2-5 {
        width: 40%;
    }
    .width-medium-3-5 {
        width: 60%;
    }
    .width-medium-4-5 {
        width: 80%;
    }
}


/* Desktop and bigger */

@media (min-width: 960px) {
    .float-left-large {
        float: left;
    }

    .float-right-large {
        float: right;
    }
    /* Whole */
    .width-large-1-1 {
        width: 100%;
    }
    /* Halves */
    .width-large-1-2, .width-large-2-4, .width-large-3-6 {
        width: 50%;
    }
    /* Thirds */
    .width-large-1-3, .width-large-2-6 {
        width: 33.333%;
    }
    .width-large-2-3, .width-large-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .width-large-1-4 {
        width: 25%;
    }
    .width-large-3-4 {
        width: 75%;
    }
    /* Fifths */
    .width-large-1-5 {
        width: 20%;
    }
    .width-large-2-5 {
        width: 40%;
    }
    .width-large-3-5 {
        width: 60%;
    }
    .width-large-4-5 {
        width: 80%;
    }
}

@media (min-width: 1220px) {
    .float-left-xlarge {
        float: left;
    }

    .float-right-xlarge {
        float: right;
    }
    /* Whole */
    .width-xlarge-1-1 {
        width: 100%;
    }
    /* Halves */
    .width-xlarge-1-2, .width-xlarge-2-4, .width-xlarge-3-6 {
        width: 50%;
    }
    /* Thirds */
    .width-xlarge-1-3, .width-xlarge-2-6 {
        width: 33.333%;
    }
    .width-xlarge-2-3, .width-xlarge-4-6 {
        width: 66.666%;
    }
    /* Quarters */
    .width-xlarge-1-4 {
        width: 25%;
    }
    .width-xlarge-3-4 {
        width: 75%;
    }
    /* Fifths */
    .width-xlarge-1-5 {
        width: 20%;
    }
    .width-xlarge-2-5 {
        width: 40%;
    }
    .width-xlarge-3-5 {
        width: 60%;
    }
    .width-xlarge-4-5 {
        width: 80%;
    }
}


/* UI */

